.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-group {
    display: flex;
    margin-bottom: 0 !important;
    /* width: 30rem; */
}

.form-group i {
    position: absolute;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 8px;
    margin-left: 19px;
    color: rgb(194, 193, 193);
}

.search-input {
    font-size: 0.8rem;
    color: rgb(43, 41, 41);
}

.form-group .form-control {
    border-radius: 50px;
    padding-left: 38px;
    margin-left: 0px;
}