.search-input {
    margin-left: 5px;
}

.form-group{
    align-items: center;
    height: 30px;
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}




.form-group {
    display: flex;
}

.form-group i {
    position: absolute;
    font-size: 20px;
    margin-left: 35px;
   font-weight: 100;
   margin-top: -10px;
    color: rgb(194, 193, 193);
}

.search-input {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(43, 41, 41);
}

.form-group .form-control {
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 50px;
}


