<div class="container d-flex flex-fill flex-row border-radius section">
  <div class="div-updown">
    <div class="div-icon-mini" title="Section go up" (click)="onUpSection()">
      <i class="fa fa-chevron-up icon-decorate"></i>
    </div>
    <div class="div-icon-mini" title="Section go down" 
    (click)="onDownSection()">
      <i class="fa fa-chevron-down icon-decorate"></i>
    </div>
  </div>

  <div class="div-main">
    <ul class="list-group flex-fill">
      <li class="list-group-item title-section d-flex label-section border-radius" >
          <div class="div-box col-sm-11">
            <input class="form-control title-section clean-border input-box" #inputSection
            [value]="sectionDummy.section_title" (click)="clickEditSection($event)"/>
          </div>
          <div class="div-box ">
            <button type="button" *ngIf="changeSection " class="btn btn btn-success btn-circle btn-lg btn-circle" title="Edit section" (click)="inputSection.click(); saveSection(sectionDummy.section_id)"><i class="fa fa-check"></i></button>
            <button type="button" (click)="onDeleteSection()" title="Delete section"  class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></button>

          </div>
      </li>
      <app-course-lecture *ngFor="let item of sectionDummy.lecture;
       let i = index" 
       [lecture]="item"
       [lectureIndex]="i"
        [sectionIndex]="sectionIndex"
        [globalLoading]="arrayLoading[sectionIndex* maxLecture +i]"
        [maxLecture]="maxLecture"
       
        ></app-course-lecture>
        <div class ="lecture-empty"*ngIf="sectionDummy.lecture.length == 0 || sectionDummy.lecture ==undefined" >No lecture created</div>
      <div>
        <ul class="ul-deco">
          <button  class="btn-create-new" 
          (click)="onCreateLecture(sectionDummy.section_id)">
          <i class="bi bi-plus-lg icon-create"></i>
            New lecture
          </button>
        </ul>  
      </div>
    </ul>
    <hr>
  </div>
</div>
