<div class="container d-flex flex-fill flex-row border-radius section">
  <div class="div-updown">
    <div class="div-icon-mini" title="Section go up" (click)="onUpSection()">
      <i class="fa fa-chevron-up icon-decorate"></i>
    </div>
    <div class="div-icon-mini" title="Section go down" 
    (click)="onDownSection()">
      <i class="fa fa-chevron-down icon-decorate"></i>
    </div>
  </div>
<!--  -->

  <!--  -->
  <div class="div-main">
    <ul class="list-group flex-fill">
      <li class="list-group-item title-section d-flex label-section border-radius" >
  
        <input class="form-control w-65 title-section clean-border" #inputSection
        [value]="sectionDummy.section_title" (click)="clickEditSection($event)"/>
       <button  *ngIf="changeSection" class="btn btn-primary" title="Edit section" (click)="inputSection.click(); saveSection(sectionDummy.section_id)">
         Save
       </button>
       
        <button class="btn btn-danger" title="Delete section" 
        (click)="onDeleteSection()">
          Delete
        </button>
      </li>

      <li
        *ngFor="let lecture of sectionDummy.lecture; let i = index; let len = count"
        class="
          list-group-item
          d-flex
          justify-content-between
          align-items-center
          container
          border-radius"
        
      >
        <div class="div-updown">
          <div class="div-icon-mini" (click)="onUpLession(lecture.id)">
            <i class="fa fa-chevron-up icon-decorate" title="Lesson go up" ></i>
          </div>
          <div class="div-icon-mini" (click)="onDownLession(lecture.id)">
            <i
              class="fa fa-chevron-down icon-decorate"
              title="Lesson go down"
            ></i>
          </div>
        </div>
        <div class="div-session-contain form-row">
          <div class="div-session-contain d-flex form-row">
            <div class="div-session-contain d-flex form-row">
              <input #inputLecture
                class="form-control contain-title w-25 clean-border"
                [value]="lecture.title" title="Edit title" 
                (click)="clickEditLecture($event,i)"
              >
              <button *ngIf="eventSave[i]" (click)="inputLecture.click(); saveLecture(lecture.id,i);" class="btn btn-primary">Save</button>
              <button class="contain-video btn btn-success"  (click)="onEditLession(lecture.id)">{{durationVideo[i]!=0 ? 'Upload Video':'Upload new Video'}} </button>
              <span class="contain-video-time">{{ durationVideo[i]}}</span>
            </div>
            <div class="div-edit">
              
              <button class="btn btn-danger" title="Delete lession" 
              (click)="onDeleteLession(lecture.id)">
                Delete
              </button>
            </div>
          </div>

          <div>
            <ul class="ul-deco">
              <button *ngIf="i == len - 1 " class="btn-create-new" 
              (click)="onCreateLession(sectionDummy.section_id)">
                Create new lession
              </button>
            </ul>  
          </div>
        </div>
      </li>
      <div>
        <ul class="ul-deco">
          <button *ngIf="!sectionDummy.lecture.length" class="btn-create-new" 
          (click)="onCreateLession(sectionDummy.section_id)">
            Create new lession
          </button>
        </ul>  
      </div>
    </ul>
    <hr>
  </div>
</div>
<app-upload-task></app-upload-task>
