.note {
  padding: 15px 10px;
}

.note-context {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(77, 77, 77);
  line-height: 1.5rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 40%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 4px solid rgb(143, 143, 143);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(173, 173, 173) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.btn-resource{
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.35135;
  color: #1c1d1f;
  background-color: transparent;
  border: 1px solid #1c1d1f;
}
.btn-resource:hover{
  color: #1c1d1f;
  background-color: rgba(0,0,0,.04);
  border-color: #1c1d1f;
}
.icon{
  margin-right: 2px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
