
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
.single-filter {
    /* background-color: rgb(206, 206, 206); */
    border-radius: 5px;
    margin-top: 5px;
   background-color: #fff;
   box-shadow: 2px 1px 2px #aaa;
}

mat-tree, mat-tree-node{
  background-color: #fff;
  color: #000;
}


input[type="radio"]  {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
 
  cursor:pointer;
}

.lbGrade{
  vertical-align:middle;
  margin-left: 10px;
  margin-top: 10px;
}

input[type="radio"]:checked {
 background-color: aquamarine;

}

input[type='radio']:checked:after {
  width: 19px;
  height: 19px;
  border-radius: 15px;
  
  position: relative;
  background-color: #0099CC;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

*{
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}
