<div class="home-screen center">
  <div class="clean-display">
    <div class="list-course">
      <div class="div-sort-by">
        <button class="btn-new-topic" *ngIf="isAdmin" (click)="onCreateCourse()">
          <i class="bi bi-plus-lg"></i>
          Topic
        </button>
        <mat-form-field class="sort-by padding-tb" appearance="fill" style="color: black" *ngIf="isAdmin">
          <mat-label style="color: #194350; font-weight: 500">View</mat-label>
          <mat-select disableOptionCentering style="color: black" [(ngModel)]="topicType">
            <mat-option (click)="getAllByFilter()" style="color: black" class="not-empty-select"
              *ngFor="let status of listStatus" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="sort-by padding-tb" appearance="fill" style="color: black">
          <mat-label style="color: #194350; font-weight: 500">Sort by</mat-label>
          <mat-select disableOptionCentering style="color: black" [(ngModel)]="selectedExpBy">
            <mat-option (click)="getAllByDate()" style="color: black" class="not-empty-select"
              *ngFor="let status of listExpStatus" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-search-title class="search-container" [message]="message" (sendTitleSearch)="searchCourse($event)">
        </app-search-title>
      </div>
      <p class="topic-type">{{ topicType }} Topic</p>
      <div *ngIf="listTopic != []">
        <div *ngIf="!listTopic.length && !isLoading row" class="container div-no-found">
          <div class="message-no-found empty-list">
            <span align="center" class="no-found"> No Topic Here </span>
          </div>
        </div>
        <ul *ngFor="let topic of listTopic" style="padding-left: 0px;">
          <hr class="col-sm-12" />
          <div class="display-tag">
            <!-- Column 1: topic title -->
            <div class="col-md-11 mb-2" style="padding-left: 0px;">
              <div class="item-title-topic">
                <h3 class="item-topic-title" (click)="viewFile(topic.title, topic.id)">
                  {{ topic.title }}
                </h3>
              </div>
              <div class="item-more-info">
                <span class="icon-tag type-tag">{{ topic.topicType }}</span>
                <span>{{
                  topic.updatedAt | date: "dd/MM/yyyy HH:mm:ss "
                  }}</span>
              </div>
            </div>
            <!-- Column 2: Action buttons -->
            <div class=" action-buttons-container">
              <!-- Download -->
              <button class="action-button download" (click)="getDownLoad(topic.title, topic.id, topic.fileUrl)"
                title="download">
                <i class="bi bi-file-earmark-arrow-down icon"></i>
              </button>
              <!-- Copy -->
              <button class="action-button copy" (click)="copyMessage(topic.title, topic.id)" title="Copy link"
                *ngIf="isAdmin">
                <i class="bi bi-clipboard-check icon"></i>
              </button>
              <!-- Edit -->
              <button class="action-button edit" (click)="goEdit(topic.id)" title="Edit" *ngIf="isAdmin">
                <i class="bi bi-pencil-square icon"></i>
              </button>
            </div>
          </div>
          <!-- Column 2: Action buttons -->

        </ul>
      </div>
      <div *ngIf="listTopic === []" class="not-found-area">
        <h3 class="not-found">No topics here</h3>
      </div>
      <div *ngIf="isLoading" class="background-loading">
        <div class="lds-ellipsis loading">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>

  <!-- <app-loading [isLoading]="isLoading"></app-loading> -->
</div>