@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.home-screen {
  margin-top: 1.5rem;
  margin-bottom: 20vh;
  padding-bottom: 50vh;
}

.btn-new-course {
  width: 200px;
  background: #4ebee1;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 4vh;
  height: 35px;
  font-size: large;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  transition: all 0.5s;
  color: white;
}
.btn-new-course:hover {
  background-color: green;
  color: #eee;
}
.wrapper {
}
.no-found {
  font-size: x-large;
  font-weight: bold;
  color: #c4c4c4;

  padding: 4rem;
}
.div-no-found {
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.div-loading {
  padding-top: 1.5rem;
}

.search-course {
  margin-top: 30px;
}

.list-course {
  background-color: #fff;
}
.container .wrapper {
  text-align: center;
}
/* .loading {
  position: fixed;
  top: 30vh;
  left: 45vw;
  width: 45vw;
  padding: 16px;
  z-index: 9000000;
} */
.empty-list {
  height: 100vh;
}
.message-no-found {
  padding-top: 20%;
}
.list-filter-main {
  /* width: 18rem; */
}

.clear-filter {
  text-align: center;
  transition: all 0.5s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-clear-filter {
  box-shadow: 1px 1px 1px #c4c4c4;
  border-radius: 5px;
  height: 35px;
  font-size: 13px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  background-color: #ea5044;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-clear-filter:hover {
  background-color: #b46a6a6b;
  color: brown;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.col-md-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.not-empty-select.mat-selected {
  color: #046582 !important;
}

::ng-deep .mat-select-value {
  color: #000 !important;
}

::ng-deep .mat-select-arrow {
  color: #000 !important;
}

::ng-deep .mat-select-panel {
  background: #fff;
  color: #000;
}

.mat-option:hover {
  background: #aaa !important;
  color: #000 !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field {
  background-color: #eee;
  border-radius: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-infix {
  width: 120px !important;
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 5px 5px 0px 5px !important;
}
.div-search {
}
.search-container {
  margin-left: 3rem !important;

  justify-content: space-between;
  flex-direction: row;
}
.div-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 0.5rem;
}
.div-sort-by {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  /* flex-direction: row-reverse; */
}
.sort-by {
  margin-right: 20px;
}
.clean-display {
  display: table-row !important;
}
.container {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.clear-margin-right {
  margin-right: 2rem !important;
}
.padding-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.screen-display {
  margin-right: 0px;
  margin-left: 0px;
}
@media (max-width: 560px) {
  .div-sort-by {
    display: contents !important;
  }
}
.icon-tag {
  border-radius: 10px;
  color: #fff;
  margin: 2px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.item-title-topic {
  display: contents;
}
.item-topic-title {
  font-size: 17px;
  display: flex;
  font-weight: 500;
  padding-bottom: 5px;
  color: rgb(18, 54, 119);
}
.item-topic-title:hover {
  color: rgb(54, 118, 196);
  cursor: pointer;
}
.item-more-info {
  color: #a4acbd;
}
.type-tag {
  background: #61b15a;
}
.download-tag {
  background: brown;
}
.copy-tag {
  background: burlywood;
}
.display-tag {
  display: flex;
}
.action-button {
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  color: #046582;
  background-color: #eee;
}
.action-button:hover {
  color: #046582;
  background-color: #fff;
}
.icon {
  font-size: 1.5rem;
}
.action-buttons-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.download {
  color: #fff;
  background: #cd113b;
}
.edit {
  color: #fff;
  background: rgb(48, 71, 201);
}
.copy {
  color: #fff;
  background: #81b214;
}

.not-found {
  text-align: center;
  color: #a4acbd;
  font-family: "Roboto", sans-serif;
}

/*===================Loading====================*/
.loading {
  width: 45vw;
  padding: 16px;
  top: 10vh;
  z-index: 9000000;
  position: relative;
}
.lds-ellipsis {
  display: inline-block;
  left: 33vw;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(22, 214, 248);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.icon-create {
  margin-right: 5px;
}

.topic-type {
  font-size: 20px;
  font-weight: bold;
  color: #0a14a1;
  text-transform: capitalize;
}
