<div class="edit-screen container">
  <div class="div-contain">
    <div class="div-back" (click)="goBack()">
      <span> <i class="fa fa-long-arrow-left icon-decorate" 
        title="Lesson go up" ></i>Back to courses</span></div>
    </div>
   
  <app-course-info [course]="course"></app-course-info>

  <app-course-section
    *ngFor="let section of sections; let i = index" 
    [sectionDummy]="section" [sectionIndex]="i" [maxLecture]="maxLecture"
  ></app-course-section>
  <ul>  
    <button class="btn-create-new" (click)="onCreateSection()">
      <i class="bi bi-plus-lg icon-create icon-create"></i>  Create new Section
    </button>
  </ul>
  <br/>
  <div class="div-save">
    
  </div>

  <br />
  <br />
  <br />
</div>
<ng-template #content let-modal>
  <div  class="modal-header custome-dialog-title">
    <h4 class="modal-title section-title">
      {{
        customeTitle()
      }}
    </h4>
    
  </div>
  <div  class="modal-body custome-dialog-title">
    <div *ngIf="wayModify != 0 && wayModify != 1">
      {{
        customeContent()
      }}
    </div>
    <div class="mb-3 row" *ngIf="wayModify == 0 || (wayModify == 1 && typeSelection ==0)">
      <label for="name" class="col-sm-4 col-form-label">
         {{ typeSelection == 0 ? "section" : "lecture" }} title</label
      >
      <div  class="col-sm-9">
        <input
          type="text"
          class="form-control"
          id="nameTitle"
          placeholder="Title course"  required
          name="nameTitle" [(ngModel)]="titleBinding"
        />
        
      </div>
    </div>
  </div>
  <div class="modal-footer remove-border">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button 
      type="button" 
      class="btn btn-primary"
      (click)="onConfirmSave()" 
    >
      Save
    </button>
  </div>
</ng-template>

<app-loading [isLoading]="isLoading"></app-loading>

