:root {
  --btn-blue: #548CA8;
  --section-title:#292b2c;
  --btn-save:#4EBEE1;
  --pink-save:#f06292;
  --background-loading:rgba(0, 0, 0, 0.75);
}
.btn-create-new{
    width: 230px;
    background: #548CA8;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
   
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    border: solid 1px #ffff;
    padding: 10px;
}
.btn-create-new:hover{
    color: var(--btn-blue);
    border: solid 1px var(--btn-blue) ;
    background: #ffff;
}
.div-save{
    align-items: center;
    justify-items: center;
    display: grid;
}
.btn-save{
    background: var(--btn-save);
    padding: 13px;

}
.btn-save:hover{
    color: var(--btn-save);
    border: solid 1px var(--btn-save) ;
    background: #ffff;
}
.dark-modal .modal-content {
    background-color: var(--section-title);
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: var(--btn-blue);
  }

  input[type='file']{
    display: none;
}
.btn-upload{
    width: 200px;
    background: var(--btn-save);
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: 10px;
    color: white;
}
.url-video{
    margin-left: 20px;
}
.div-contain{
    display: inline-block;
    margin-top: 1rem;
}
.div-back{
    
    font-size: 20px;
    color: var(--btn-blue);
}

.div-back:hover{
    color: var(--pink-save) ;
    cursor: pointer;
}
.container{
    
    margin-top: 55px;
}
.custome-dialog-title{
    font-size: x-large;
}
.icon-decorate{
    margin-right: 0.6rem;
}
.section-title{
 font-weight: bold;
 font-size: 22px;

}

.custome-dialog-title{
  margin-left: 2rem;
  padding-bottom: 0px;
}

.edit-screen{
    background: #EEEEEE;
    margin-top: 85px;
}
.background-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-loading);
    z-index: 500000;
}
.loading{
    position: fixed;
    top: 30vh;
    left: 45vw;
    width: 45vw;
    padding: 16px;
    z-index: 9000000;
}
/* loading style */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(37, 106, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .icon-create{
    margin-right: 5px;
  }