<!-- <div class="footer row">
    <div class="col-md-4">
        <p>Cungnhauhoctoan.net <i class="fa fa-copyright"></i> 2021</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>Contact: admin@cungnhauhoctoan.net</p>
    </div>
</div> -->

<div class="d-flex flex-column">

    <div id="page-content">
        <div class="container text-center">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h1 class="font-weight-light mt-4 text-white">Cung Nhau Hoc Toan</h1>
         
            </div>
          </div>
          <div class = "row font-weight-light mt-4 text-white  text-left">
            <div class="col-md-4">
                <h3 class="font-weight-light mt-4 text-white">About</h3>
                <p>Email: admin@cungnhauhoctoan.net</p>
                <p>Address: ....</p>
                <p>Phone number: ....</p>
                <button class = "btn btn-primary">Become A Member</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3 class="font-weight-light mt-4 text-white">Contact</h3>
                <p>Email: admin@cungnhauhoctoan.net</p>
                <p>Address: ....</p>
                <p>Phone number: ....</p>
            </div>
          </div>
        </div>
      </div>
      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Cungnhauhoctoan.net</small>
        </div>
      </footer>
</div>