.col-md-4 {
  margin-left: 20px;
}

.flex-column {
  height: 40vh;
  width: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.flex-column {
  background: #4ebee1;
}

.container {
  margin: 0;
}

.end-footer {
  margin-top: 30px;
}
