.footer {
    box-shadow: 1px -3px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: rgb(102, 102, 102);
    color: white;
    /* position: absolute; */
    clear: both;
    position: relative;
    height: 150px;
    margin-top: 190px;
}

.footer p {
    margin-left: 10px;
}