@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700;800&display=swap");
@import url("~font-awesome/css/font-awesome.css");
.navbar {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 99999999;
}

.logo-text {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: rgb(64, 129, 250);
    padding-left: 20px;
    padding-top: 5px;
}

.form-group {
    display: flex;
    margin-bottom: 0.2rem !important;
}

.form-group i {
    position: absolute;
    font-size: 18px;
    margin-left: 22px;
    padding-top: 9px;
    color: rgb(161, 160, 160);
}

.search-input {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0 !important;
    font-size: 15px;
    height: 35px;
    color: rgb(34, 33, 33);
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    min-width: auto !important;
    margin-top: 10px;
    left: auto;
    right: 4px;
}

.dropdown .btn-dropdown {
    background-color: transparent;
    border: none;
    outline: none;
}

.account-dropdown:hover .button-account {
    display: block !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    font-size: 15px;
    color: rgb(194, 193, 193);
}

.form-group .form-control {
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 50px;
}

.action-button {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.action-button a {
    height: 29px;
    border: none;
    display: inline-flex;
    outline: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

.btn-mycourse:hover,
.btn-mywallet:hover {
    background-color: rgb(208, 233, 225);
}

.navbar-toggler-icon i {
    font-size: 25px;
}

.navbar-collapse {
    text-align: center;
}

.btn-signin {
    text-align: center;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.btn-mycourse,
.btn-mywallet {
    text-align: center;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.btn-mycourse i,
.btn-mywallet i {
    color: rgb(65, 26, 170);
    font-size: 17px;
    font-weight: 500;
}

.dropdown-item i {
    color: rgb(65, 26, 170);
    font-size: 17px;
    font-weight: 500;
}

.photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media (max-width: 762px) {
    .action-button {
        display: inline-grid;
    }
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

i {
    padding-right: 0.5rem;
}

.nav-link {
    color: rgb(46, 46, 46);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.nav-item {
    padding-right: 5px;
    padding-left: 5px;
}

.dropdown-menu {
    margin-top: 0px !important;
}

.dropdown-item {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.dropdown-item:hover {
    color: rgb(9, 178, 230);
    background-color: #ffffff !important;
}

.navbar-nav {
    justify-content: space-around;
}

.course:hover .course-item {
    display: block !important;
}

.topic:hover .topic-item {
    display: block !important;
}