<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand logo-text" [routerLink]="['/home']">Cùng Nhau Học Toán</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <div class="col-md-5"></div>
      <div class="col-md-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown course">
            <a class="nav-link active dropdown-toggle" id="navbarDropdown">
              Courses
            </a>
            <ul class="dropdown-menu course-item" id="course-item">
              <li (click)="setGradeChangeRouter(6)">
                <a class="dropdown-item">All Grade</a>
              </li>
              <li (click)="setGradeChangeRouter(1)">
                <a class="dropdown-item">Tốt nghiệp THPT</a>
              </li>
              <li (click)="setGradeChangeRouter(2)">
                <a class="dropdown-item">Grade 12</a>
              </li>
              <li (click)="setGradeChangeRouter(3)">
                <a class="dropdown-item">Grade 11</a>
              </li>
              <li (click)="setGradeChangeRouter(4)">
                <a class="dropdown-item">Grade 10</a>
              </li>
              <li (click)="setGradeChangeRouter(5)">
                <a class="dropdown-item">Grade 9</a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item dropdown topic">
            <a class="nav-link dropdown-toggle" id="navbarDropdown1"> Topics</a>
            <ul class="dropdown-menu topic-item">
              <li>
                <a class="dropdown-item" [routerLink]="['/topics', 'all']">All Topics</a>
              </li>
              <li *ngFor="let topic of getKeys()">
                <a class="dropdown-item" [routerLink]="['/topics', topic]">{{
                  topic
                  }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="selectedBtnTest()"> Test </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 action-button">
        <div *ngIf="isLoggedin; then thenBlock; else elseBlock"></div>

        <ng-template #elseBlock>
          <a routerLink="login" class="btn-signin">Sign In</a>
        </ng-template>
        <ng-template #thenBlock>
          <div *ngIf="isAdmin" style="width: 15vw"></div>
          <div class="dropdown account-dropdown">
            <button class="btn-dropdown nav-item dropdown-toggle">
              <img [src]="photo" alt="avatar" class="photo" />
            </button>
            <div class="dropdown-menu button-account">
              <button *ngIf="isAdmin" class="dropdown-item"[routerLink]="['/admin/home']">
                <i class="bi bi-house"></i> <span>Admin Home</span>
              </button>
              <a *ngIf="!isAdmin" routerLink="/mylearning" class="btn-mycourse dropdown-item"><i
                  class="bi bi-journal-check"></i>Courses</a>

              <a *ngIf="!isAdmin" routerLink="/wallet" class="btn-mywallet dropdown-item">
                <i class="bi bi-wallet"></i>Wallet</a>
              <button class="dropdown-item" (click)="logOut()">
                <i class="bi bi-box-arrow-right log-out"></i>
                <span class="log-out">Log out</span>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>