.container {}

.sign-in {
    text-align: center;
    margin-top: 200px;
}

.sign-in .btn button {
    display: block;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    outline: none;
    border: none;
    height: 35px;
}

.btn {
    text-align: center;
}

.btn button:hover {
    background-color: rgb(5, 5, 158);
    transition: all 0.2s;
}

.app-title {
    font-weight: 800;
    font-size: 28px;
}

.btn-signin:focus {
    background-color: rgb(35, 135, 182);
}

.btn-signin {
    background-color: #4EBEE1;
}

.btn-signin i {
    font-size: 20px;
    padding-right: 5px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(37, 106, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}