<div class="boundary">
  <div class="sign-in">
    <h3 class="app-title">CÙNG NHAU HỌC TOÁN</h3>
    <div *ngIf="!isLoading" class="btn">
      <button (click)="loginWithGoogle()" class="btn-primary btn-signin">
        <img
          class="google-icon"
          src="../../../assets/images/google.svg"
          alt="google"
        />
        Sign in with Google
      </button>
    </div>
    <div class="lds-ellipsis" *ngIf="isLoading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
