.table-detail{
    width: 95vw;
    margin-left: -6vw;
    box-shadow:0 1px 2px rgba(0, 0, 0, .30) !important ;
}

.title-table {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-style: inherit;
    display: block;
}

.btn-admin {
    background-color: #4EBEE1;
    color: #fff;
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
    transition: all 1s;
}

.btn-status {
    background-color: #4EBEE1;
    color: #fff;
    border: none;
    padding: 7px;
    border-radius: 8px;
    margin-left: 5px;
}

.btn-deny {
    margin-left: 10px;
    background-color: #a70000;
}

.btn-admin:hover {
    background-color: #194350 !important;
}

.btn-admin:active {
    background-color: #194350 !important;
}

td {
    /* background-color: #f4f4f4 !important; */
    text-align: center;
    vertical-align: middle;
}

tr td:nth-child(1) {
    width: 30%;
    text-align: left !important;
}

th {
    text-align: center;
}

th:nth-child(1) {
    text-align: left !important;
}

a {
    text-decoration: none;
}

/* .......... search component */
app-search-title{
   width: 50vw;
   padding-top: 15px;
}

.title-table-block{
    display: inline-block;
}

mat-slide-toggle{
    /* background-color: rgba(170, 170, 170, 0.123); */
    vertical-align: middle;
    margin-top: 10px;
    color: #aaa;
    font-weight: 400;
}

::ng-deep .mat-slide-toggle-bar{
    background-color: #aaa ;
}

::ng-deep .mat-slide-toggle-label.mat-slide-toggle-content:focus{
    color: #000 !important ;
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: blue; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: skyblue;  /*replace with your color*/
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #046582;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #6E7582;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-content {
    color: #070f1f;
    font-weight: 600;
}
/* CSS to change 'Warn' color */

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: red;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ffe066;
}

.btn-confirm-all{
    margin-left: 10px;
    border-radius: 3px;
    border: solid 0.5px #070f1f;
    font-size: 14px;
    background-color: #fff;
    color: #070f1f;
    height: 25px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    padding: 5px 5px 5px 5px!important;
    padding-top: 2px !important;
    vertical-align: middle;
    transition: all 1s;
}

.btn-confirm-all:hover{
    color: #fff;
    background-color: #070f1f;
    border: solid 0.5px #fff;
    font-weight: 400;
}

