<div class="single-section">
    <a class="section-name-p" data-bs-toggle="collapse" [href]=" '#section' +section.id" role="button" [attr.aria-controls]="'section' +section" aria-expanded="false">
        <div class="section-name">
            <i class="fa fa-caret-down"></i> <span>{{section.title}}</span>
        </div>
    </a>

    <div class="collapse" [id]="'section'+ section.id">
        <div class="lecturre-list">
            <ul *ngIf="listLecture!=undefined">
                <li *ngFor="let lecture of listLecture" [ngClass]="{'activeLecture': selectedLecture===lecture.id}">
                    <a class="title-lecture" style="cursor: pointer;" (click)="loadLecture(lecture.id)">{{lecture.title}} </a>
                    <h6 class="time"><i class="bi bi-clock-fill icon"></i>{{formatTime(lecture.length)}}</h6>
                </li>

            </ul>
        </div>
    </div>
</div>