@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
          
.container{
    /* margin-top: 7vh; */
}
.home-screen {
    margin-top: 7vh;
    margin-bottom: 20vh;
    padding-bottom: 50vh;
}


.btn-new-course{
    width: 200px;
    /* background: rgb(64, 129, 250);; */
    background: #4EBEE1;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 4vh;
    margin-bottom: 20px;
    height: 35px;
    font-size: large;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
}
.wrapper{
    display: grid;
  /* grid-template-columns: 300px 300px 300px 300px; */
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 10px;
  
}
.no-found{
    font-size: x-large;
   font-weight: bold;
   color: #c4c4c4;

   
   padding: 4rem;
}
.div-no-found{
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;

}
.div-loading{
    display: flex;
    padding: 1rem;
}
/* Loading animation */
/* .div-full-screen{
    width: 100vw;
    height: 100vh;
    background: rgb(84, 78, 78);
    position: absolute; top: 0; left: 0;
} */

.search-course{
   /* width: 40vw; */
  margin-top: 30px;
}

.spinner-border{

}

.list-course {
  background-color: #eeebeb;
  text-align: center;
 
}
.container .wrapper{
  text-align: center;
}

app-search-title{
    width: 40vw;
    height: 30px;
}

.loading{
    position: fixed;
    top: 30vh;
    left: 45vw;
    width: 45vw;
    padding: 16px;
    z-index: 9000000;
}
.empty-list{
    height: 100vh;
}
.message-no-found{
   padding-top: 20%;
}

.fitler{

}

.list-filter-main{
    display: block;
}

.clear-filter{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    transition: all 1s;
}

.btn-clear-filter{
    box-shadow: 1px 1px 1px #c4c4c4;
    border-radius: 5px;
    margin-left: 5px;
    height: 35px;
    font-size: 13px;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: none;
    /* border: none; */
    color: rgb(31, 30, 30);
    text-align: center;
    cursor: pointer;
   
}

.clear-filter :hover{
    background-color: #cac4c46b;
}