.home-screen {
    margin-top: 55px;
}
.btn-new-course{
    width: 200px;
    background: rgb(64, 129, 250);;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
}
.wrapper{
    display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
  
}
.no-found{
    font-size: x-large;
   font-weight: bold;
   color: #c4c4c4;
   
   padding: 4rem;
}
.div-no-found{
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}