<div class="home-screen">

  <div class=" fitler">
    <div class="row screen-display">
      <div class=" clean-display div-list-course">
        <div class="list-course">
          <div class="container div-sort-by">
            <div class="col-md-2"></div>
            <div class="col-md-2">
            </div>
            <div class="col-md-7 button-container">
              <button class="btn-new-course " (click)="onCreateCourse()">
                <i class="bi bi-plus-lg"></i>
                Course
              </button>
              <mat-form-field class="sort-by  padding-tb" appearance="fill" style="color: black">
                <mat-label style="color: #194350; font-weight: 500">View</mat-label>
                <mat-select disableOptionCentering style="color: black" [(ngModel)]="selectedViewBy">
                  <mat-option (click)="getAllByFilter()" style="color: black" class="not-empty-select"
                    *ngFor="let status of listStatus" [value]="status.value">
                    {{ status.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sort-by padding-tb" appearance="fill" style="color: black">
                <mat-label style="color: #194350; font-weight: 500">Courses</mat-label>
                <mat-select disableOptionCentering style="color: black" [(ngModel)]="grade">
                  <mat-option (click)="getAllByFilter()" style="color: black" class="not-empty-select"
                    *ngFor="let status of listGradeStatus" [value]="status.value">
                    {{ status.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="sort-by padding-tb" appearance="fill" style="color: black">
                <mat-label style="color: #194350; font-weight: 500">Sort by</mat-label>
                <mat-select disableOptionCentering style="color: black" [(ngModel)]="selectedExpBy">
                  <mat-option (click)="getAllByDate()" style="color: black" class="not-empty-select"
                    *ngFor="let status of listExpStatus" [value]="status.value">
                    {{ status.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 ">
              <div class="search-container padding-tb">
                <app-search-title class="div-search" [message]="message" (sendTitleSearch)="searchCourse($event)">
                </app-search-title>
              </div>
            </div>
          </div>

          <div *ngIf="!listCourse.length && !isLoading" class="div-no-found">
            <div class="message-no-found empty-list">
              <span class="no-found"> No Course here </span>
            </div>
          </div>
          <div *ngIf="listCourse != []" class="list-course-components">
            <div class=" wrapper clear-margin-right">
              <app-lecturer-card-course *ngFor="let course of listCourse" [course]="course"></app-lecturer-card-course>
            </div>

          </div>

          <br /><br />
        </div>
      </div>
    </div>
    <br /><br />
  </div>

  <app-loading [isLoading]="isLoading"></app-loading>
</div>