.home-screen {
    margin-top: 5vh;
    margin-bottom: 20vh;
}


.btn-new-course{
    width: 200px;
    /* background: rgb(64, 129, 250);; */
    background: #4EBEE1;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 4vh;
    margin-bottom: 20px;
    height: 35px;
    font-size: large;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
}
.wrapper{
    display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 10px;
  
}
.no-found{
    font-size: x-large;
   font-weight: bold;
   color: #c4c4c4;
   
   padding: 4rem;
}
.div-no-found{
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.div-loading{
    display: flex;
}
/* Loading animation */
/* .div-full-screen{
    width: 100vw;
    height: 100vh;
    background: rgb(84, 78, 78);
    position: absolute; top: 0; left: 0;
} */

.search-course{
   /* width: 40vw; */
  margin-top: 30px;
}

.spinner-border{

}

.list-course {
  background-color: #eeebeb;
  text-align: center;
  height: 100%;
}
.container .wrapper{
  text-align: center;
}

app-search-title{
    width: 40vw;
    height: 30px;
}

.loading{
    position: fixed;
    top: 30vh;
    left: 45vw;
    width: 45vw;
    padding: 16px;
    z-index: 9000000;
}
