<!-- <div class="backdrop" >
</div>
<div class="alert-box">
    <h4 class ="title"> {{  titleNotify  }}</h4>
    <p class="message">
        {{ contentNotify }}
    </p>
    <div class="alert-box-actions">
        <button 
        type="button"
        class="btn btn-danger"
        (click)="close()" >
        Cancel
      </button>
      <button *ngIf="wayModify==0 || wayModify ==1 "
        type="button" 
        class="btn btn-primary"
        (click)="onConfirmSave()" 
      >
        Save
      </button>
      <button 
      type="button" *ngIf="wayModify == 2 || wayModify == 3 || wayModify == 4 ||wayModify == 5 || wayModify == 6 || wayModify == 7"
      class="btn btn-primary"
      (click)="onConfirmSave()" 
        >
      Confirm
    </button>
    </div>
</div> -->
