
<div class = "component-search-screen">
<div class = "search-screen">
    <div class = "nav-search-blank">
        <span>{{this.listCourse.length}} results for <b>{{textSearch}}</b> </span>
    </div>
<div class="search-main container">
    <div class="row">
        <div class="col-md-3 list-filter-main" >
            <app-filter (sendGradeChoose) = "receiveGrade($event)" (sendCategoryChoose) = "receiveCategory($event)"></app-filter>
        </div>
        <div class = "col-md-9 ">
            <div *ngIf  = "isLoading" class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div  *ngIf = "isFindList()" class="list-search-main">
                <app-list-search [listCourseResult] = "listCourse"></app-list-search>
             </div>

                 <div *ngIf = "!isFindList()" class="not-found">
                     <img src="../../../../assets/images/not-found.svg" 
                     style=" height: 30vh; width: 30vw;
                     margin-top: 10vh;
                     margin-left: 10vw;
                     display: flex;">
                     <span style="margin-top: 10vh;
                     margin-left: -5vw;">No course found !</span>
                 </div>
           
        </div>
       
    </div>
</div>

</div>

<div  *ngIf = "isFindList()" style="background-color: #F0F2F5; height: 50vh; width: 100vw;"></div>

</div>
