*{
    background-color: #F0F2F5;
}
.search-main{
    display: block;
    padding-left: 15px;
    width: 100%;
    margin: 0;
    background-color: #F0F2F5;
    padding-left: 10px;
}
.list-search-main{
   
    /* margin-top: 106px;
    margin-left: 5vw; */
    /* display: block;
    float: left; */
    
}

.col-md-9{
  /* padding-left: 0 !important; */
  padding-left:  7vw;
  display: block;
  float: left;
}

.nav-search-blank{
 
    height: 105px;
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 10;
    padding-top: 75px;
    padding-left: 450px;
}

.list-filter-main{
    margin-top: 7rem;
    padding-left: 2vw;
    position: relative;
    display: block;
}

.search-screen{
    display: inline-block;
   width: 100%;
   height: 150%;
}

.message{
    
background-color: #fff;
    
}
.col-md-9{
  /* margin-left: 27vw; */
  margin-top: 7rem;
  
}

.not-found{
    border-radius: 8px;
    display: block;
   height:100vh;
   /* margin-top: 15vh; */
   border-radius: 5px;
   margin-left: 5vw;
   color: rgb(16, 9, 75);
   font-size: 22px;
   /* padding-top: 30vh;
   padding-left: 10vw; */
   font-weight: 500;
   padding-top: 30vh;
   background-color: #fff;
   text-align: center;
  

}
.component-search-screen{
    display: block;
}

.lds-ring {
    display: inline-block;
    position: relative;
    margin-top: 250px;
    margin-left: 350px;
    
    width: 80px;
    height: 80px;
    z-index: 100000;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(37, 139, 197);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(37, 139, 197) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  