.admin-main{
    margin-top: 100px;
}

.btn{
    background-color: #4EBEE1;
    color: aliceblue;
    font-weight: 600;
    border-radius: 15px;
}

.btn :hover{
    background-color: #194350 !important;
}

.btn :active{
    background-color: #194350 !important;
}