.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5000;
}

.alert-box {
    position: fixed;
    top: 12vh;
    left: 30vw;
    /* min-width: 30vw; */
    max-width: 40vw;
    min-width: 30vw;
    padding: 16px;
    z-index: 10000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
    /* text-align: center; */
    margin-left: 40px;
    margin-right: 40px;
}

.alert-box-actions {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.img-fluid {
    max-width: 40vw;
    width: 15vw;
    min-height: 30vh;
    max-height: 50vh;
}

.btn-cancel {
    text-align: center;
    margin-top: 10px;

    border-radius: 5px;
    font-weight: 400;
    font-size: 12px !important;
    /* padding: 5px !important; */
   
    border: none;
}

.pull-left {
    font-size: 13px;
}