@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 500000;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 35vw;
    width: 30vw;
    padding: 16px;
    z-index: 9000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: white;
}

.alert-box .message {
    font-size: 17px;
    color: rgb(61, 149, 250);
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.alert-box-actions {
    text-align: center;
    justify-content: space-between;
}

.alert-box-actions button {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}