<mat-accordion [togglePosition]="'before'">
      <mat-expansion-panel *ngFor = "let type of listFilter" (opened)="open(type.value)"
                           (closed)="close()"
                         >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{type.view}}
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="gradeSelected">
        <mat-radio-button class="example-radio-button" *ngFor="let grade of listGrade" [value]="grade" (change) = "changeSelectedGrade(grade)">
         <span>Grade {{grade}}</span>
        </mat-radio-button>
      </mat-radio-group>
      </mat-expansion-panel>
     
    </mat-accordion>
    
