.image-card {
    position: absolute;
    width: 280px;
    height: 300px;
    top: 50px;
    border-radius: 10px;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    text-align: center;
    z-index: 10000;
    margin-right: 20px;
}

@media (max-width:767px) {
    .image-card {
        position: relative;
        top: 0;
        left: 50%;
        width: 270px;
        height: 250px;
    }
    .btn-go-course {
        width: 120px;
        font-size: 15px;
        margin-left: 40px;
        margin-bottom: 10px;
    }
}

.img-course {
    height: 180px;
    width: 100%;
}

.img-course {
    padding: 4px;
    border-radius: 10px;
}

.price {
    font-size: 25px;
    color: rgba(255, 143, 12, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
}

.btn-go-course {
    width: 150px;
    background-color: rgba(78, 190, 225, 1);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 35px;
    text-align: center;
    margin-left: 60px;
}