<!-- <div class = "balance">
    <span>My Wallet: </span> <span>{{balance}}</span>
</div> -->
<div class="card border-left-primary shadow h-100 py-2 balance">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs  text-primary text-uppercase mb-1" style="margin-top: -5px;">
                    My Wallet</div>
                <div class="h5 mb-0  text-gray-800"> {{balance}}</div>
            </div>
            <div class="col-auto">
                <img src = "../../../../../assets/images/wellet1.png" class="img img-fluid"
                 style="height: 50px; width: 50px;">
            </div>
        </div>
    </div>
</div>