<div class = "balance">
    <span>My balance: {{handlePriceFormat(balance)}}</span>
</div>
<!-- <div class="card border-left-primary shadow h-100 py-2 balance">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs  text-primary text-uppercase mb-1" style="margin-top: -5px;">
                    My balance: {{handlePriceFormat(balance)}}</div>
            </div>
          
        </div>
    </div>
</div> -->