<div class="home-screen">
    <div class="filter-button">
        <div class="card card-test">Test</div>
        <div class="card card-exam">Examination Solving</div>
        <div class="card card-theory">Theory</div>
      
       
    </div>
    <app-grade-course [grade]="grade12"></app-grade-course>
    <div class ="empty-block">
    </div>
    <app-grade-course [grade]="grade11">
    </app-grade-course>
    <div class ="empty-block">
    </div>
    <app-grade-course [grade]="grade10"></app-grade-course>
    <div class ="empty-block">
    </div>
</div>