@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.home-screen {
  margin-top: 2rem;
  margin-bottom: 20vh;
  padding-bottom: 50vh;
}

.wrapper {
  text-align: center;
  /* justify-content: center; */
}

.no-found {
  font-size: x-large;
  font-weight: bold;
  color: #c4c4c4;
  padding: 4rem;
}

.div-no-found {
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.div-loading {
  padding: 1rem;
}

.search-course {
  margin-top: 30px;
}

.list-course {
  background-color: #fff;
}

.loading {
  position: fixed;
  top: 30vh;
  left: 45vw;
  width: 45vw;
  padding: 16px;
  z-index: 9000000;
}

.empty-list {
  height: 100vh;
}

.message-no-found {
  margin-top: 25vh;
  text-align: center;
}

.list-filter-main {
  /* width: 18rem; */
}

.clear-filter {
  text-align: center;
  transition: all 0.5s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-clear-filter {
  box-shadow: 1px 1px 1px #c4c4c4;
  border-radius: 5px;
  height: 35px;
  font-size: 13px;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  background-color: #ea5044;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-clear-filter:hover {
  background-color: #b46a6a6b;
  color: brown;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.col-md-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.not-empty-select.mat-selected {
  color: #046582 !important;
}

::ng-deep .mat-select-value {
  color: #000 !important;
}

::ng-deep .mat-select-arrow {
  color: #000 !important;
}

::ng-deep .mat-select-panel {
  background: #fff;
  color: #000;
}

.mat-option:hover {
  background: #aaa !important;
  color: #000 !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field {
  background-color: #eee;
  border-radius: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-infix {
  width: 120px !important;
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 5px 5px 0px 5px !important;
}

.search-container {
  margin-left: 20px !important;
  margin-right: 20px !important;
  justify-content: space-between;
  flex-direction: row;
  width: 30%;
}

.div-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding: 0.5rem;
  padding-top: 0 !important;
}

.div-sort-by {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}

.clean-display {
  display: table-row !important;
}

.container {
  /* margin-left: 0px !important; */
  padding-left: 0px !important;
}

.filter-by-date {
}

.col-md-2 {
  padding-right: 0 !important;
}

@media (max-width: 520px) {
  .div-sort-by {
    justify-content: space-between;
    padding-right: 2rem;
    padding-top: 1rem;
  }
  .search-container {
    width: 100%;
  }
}
.col-md-3 {
}
.course-type {
  font-size: 20px;
  font-weight: bold;
  color: #0a14a1;
  text-transform: capitalize;
}
