@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.filter-button {
    /*    

    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 10px; */
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}

.home-screen {
    margin-top: 50px;
    text-align: center;
    /* width: 100vw; */
}

.card {
    display: block;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    float: right;
    border-radius: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 15px;
    color: #fff;
    transition: all 1s;
    background-color: #DC3545;
}

.card:hover {
    box-shadow: 1px 1px 1px #DC3545;
}

.card {
    background-color: #DC3545;
}

.empty-block {
    height: 50px;
    /* background-color: #f4f4f9; */
    text-align: center;
}