<div class="modal-body">
  <div class="container-fluid">
    <!-- HTML form mark up -->
    <form [formGroup]="entryForm" ngNativeValidate>
      <div class="card">
        <div class="card-header">
          <div class="float-left">
            <h2 class="text-info create-course">Create new course</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" [hidden]="!error" translate>
            Title, Description or Salary is not empty.
          </div>
          <div class="form-group">
            <label for="id">Title&nbsp;<span>
                ({{ course.title | countdown: 150 }}/150)
              </span>
            </label>
            <label class="d-block">
              <textarea rows="2" type="text" class="form-control" formControlName="title" autocomplete="title"
                [placeholder]="'Title'" [(ngModel)]="course.title" required></textarea>
              <span hidden translate>Id</span>
            </label>

            <label for="positionNumber">Description&nbsp;<span for="limit-description">({{ course.courseDescription |
                countdown: 300 }}/300)</span></label>
            <label class="d-block">
              <textarea rows="3" type="text" [(ngModel)]="course.courseDescription" class="form-control"
                formControlName="description" autocomplete="description"
                [placeholder]="'Add more detail about the course'" required></textarea>
              <span hidden translate>Description</span>
              <small [hidden]="
                  entryForm.controls.description.valid ||
                  entryForm.controls.description.untouched
                " class="text-danger" translate>
                Description cannot be not empty
              </small>
            </label>
            <!-- Phone  -->
            <label for="positionNumber">Price</label>
            <label class="d-block">
              <input type="number" [(ngModel)]="priceFormat" (keyup)="formatCurrency()" class="form-control"
                formControlName="price" [placeholder]="'Enter price here'" required />
            </label>
            <!-- Category -->
            <label for="positionNumber">Grade</label>
            <div class="d-block">
              <select class="form-control form-select text-deco form-select-lg mb-3 select-item"
                aria-label=".form-select-lg example" formControlName="grade">
                <option class="text-deco" *ngFor="let grade of grades; let i = index" [value]="grade" [ngValue]="grade"
                  [selected]="i == 1">
                  {{ grade }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <!-- HTML markup for Back button -->
            <button (click)="onCancel()" class="btn btn-danger w-20 button" type="submit">
              <span translate> Cancel</span>
            </button>

          </div>
          <div>
            <!-- HTML markup for Create button -->
            <button (click)="onCreate()" class="btn btn-primary w-20 button" type="submit">
              <span translate> Create</span>
            </button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>