.table-detail{
    margin-top:2vh;
    /* width: 90vw; */
    margin-left: -5vw;
    border-radius: 5px;
}

.modal{
    z-index: 10000 !important;
}

/********************loading *************/

.lds-ring {
    display: inline-block;
    /* position: relative; */
    width: 80px;
    height: 80px;
    margin-left: 30vw;
    margin-top: 2%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 4px solid rgb(183, 211, 243);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(180, 210, 243) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.table-responsive{
    border-radius: 5px;
}

table{
    border-radius: 5px !important;
}

th{
    color: #fff;
    background-color: #0061A8;
    cursor: pointer;
    border-radius: 5px;
}

thead
{
    border: none !important;
} 
tr{
    border-radius: 5px;
}

.pagination{
    margin-left: 70vw !important;
    display: block;
}

ngb-pagination ::ng-deep a {
    color: #4EBEE1 !important;
    border: none !important;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: solid 1px rgb(171, 236, 228);
    border-radius: 5px;
    background-color: #e1f0f5;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem rgb(66, 235, 247);
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem rgb(66, 235, 247);
  }

