.container{
    /* margin-top: 200px; */
}

.wallet-screen{
    background-color: #F0F2F5;
}

.empty-block{
    height: 40px;
}



.balance{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -10px;
    font-size: 24px;
    
    font-weight: 500;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
}
