@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("~font-awesome/css/font-awesome.css");

.wallet-screen {
  margin-top: 5rem;
  background-color: #fff;
}

.table-wallet {
  padding-bottom: 50vh;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1rem;
}

.balance-and-search {
  width: 95vw;
  padding-left: 5vw;
  display: inline-block;
}

.balance {
  width: 50vw;
  font-size: 18px;

  font-weight: 500;
  font-family: "Roboto", sans-serif;
  display: block;
  float: left;
}

.search {
  width: 30vw;
  margin-left: 8vw;
  display: block;
  float: left;
}
.search-title {
  width: 50vh;
}
