<div class="div-main">
  <div class="topic-container container">
    <div class="container">
      <div class="col-sm-2 div-back" (click)="goBack()">
        <span class="sp-back"
          ><i
            class="bi bi-arrow-left-square icon-decorate icon-back"
            title="Lesson go back"
          ></i
          >Back</span
        >
      </div>
    </div>
    <div class="container">
      <div class="col-md-2 text-end">
        <span>Title ({{ topic.title | countdown: 300 }}/300)</span>
      </div>
      <div class="col-md-8">
        <textarea
          [(ngModel)]="topic.title"
          type="text"
          id="title"
          required
          rows="3"
          name="title"
          class="form-control"
          placeholder="Title topic"
          maxlength="150"
          [(ngModel)]="topic.title"
        ></textarea>
      </div>
      <div class="col-sm-2">
        <button class="btn-delete" (click)="onConfirmDelete()">
          <i class="bi bi-trash icon-right"></i>Delete
        </button>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-2 text-end"><span>Type</span></div>
      <div class="col-sm-2">
        <select
          (change)="changeType($event)"
          class="form-select text-deco form-select-lg mb-3 text-select"
          aria-label=".form-select-lg example"
        >
          <option
            *ngFor="let item of types; let i = index"
            [value]="item"
            [selected]="item == topic.topicType"
          >
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-2 text-end"><span>Select file </span></div>
      <div class="col-sm-10">
        <input
          #file
          type="file"
          accept="application/pdf,application/vnd.ms-excel"
          class="image-input"
          style="display: none"
          (change)="handleFileInput($event)"
        />
        <button
          class="contain-video border-radius btn-upload"
          (click)="file.click()"
        >
          Select file
        </button>
        <div
          *ngIf="isUpdate"
          class="spinner-border spinner-border-sm text-danger"
        ></div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button class="btn-create" (click)="updateTopic()">
          <div class="btn-container">
            <i class="bi bi-save icon-margin icon-decorate"></i
            ><span> Save</span>
          </div>
        </button>
        <div
          *ngIf="isSaving"
          class="spinner-border spinner-border-sm text-danger"
        ></div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header custome-dialog-title div-title">
    <h4 class="modal-title section-title custome-title">Confimation</h4>
  </div>
  <div class="modal-body custome-dialog-title">
    Are you sure to delete this topic?
  </div>
  <div class="modal-footer remove-border confirm-footer">
    <button
      type="button"
      class="btn btn-danger border-radius"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary border-radius"
      (click)="onDelete()"
    >
      Confirm
    </button>
  </div>
</ng-template>
