.container {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .topic-container {
    margin-top: 7rem;
    margin-bottom: 16rem;
  }
  .text-end {
    text-align: end;
  }
  .btn-create {
  }
  .btn-create {
    background: rgb(64, 129, 250);
    border-radius: 10px;
  
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    border: solid 1px #ffff;
  }
  .btn-create:hover {
    color: rgb(64, 129, 250);
    border: solid 1px rgb(64, 129, 250);
    background: #ffff;
  }
  .icon-decorate {
    font-size: 13px;
    margin-right: 2px;
  }
  .btn-container {
    display: flex;
  }
  .btn-upload {
    border-radius: 10px;
  
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    background: #eee;
    color: #000;
  }
  .btn-upload:hover {
    background: #a4acbd;
  }
  .text-select{
    font-size: 15px;
  }