<div class="learning-course row">
    <div class="col-md-8">
        <div class="video-area">
            <div *ngIf="isLoadingVideo" class="lds-default">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <video *ngIf="!isLoadingVideo" width="100%" height="420" controls>
                <source [src]="videoURL" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="showcomment">
            <button class="btn-show-comment" (click)="hidden_comment=!hidden_comment" *ngIf="hidden_comment">Show comments</button>
            <button class="btn-show-comment" (click)="hidden_comment=!hidden_comment" *ngIf="!hidden_comment"> Hide comments</button>
        </div>
        <div *ngIf="hidden_comment==false">
            <div class="comment-area">
                <h4>Comments</h4>
                <app-comment [lectureId]="lectureIdObser" [course]="current_course"></app-comment>
            </div>
        </div>

    </div>
    <div class="col-md-4 content">
        <app-content-course *ngIf="current_course!=undefined" [current_course]="current_course"></app-content-course>
    </div>
</div>