<div class="learning-course row">
  <div class="col-md-9">
    <div class="video-area">
      <div *ngIf="isLoadingVideo" class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <video *ngIf="!isLoadingVideo" width="100%" height="500px" disablePictureInPicture controls
        controlsList="nodownload">
        <source [src]="videoURL" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <ul class="note">
      <li class="dropdown dropdown-6">
        <div class="note-text" [ngClass]="{ open: noteClicked === true }" (click)="openNotes()">
          <div class="arrow"></div>
          Notes
        </div>
        <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6"
          [ngClass]="{ 'open-note': noteClicked === true }">
          <div class="dropdown_item-1">
            <app-note></app-note>
          </div>
        </ul>
      </li>
    </ul>
    <ul class="note">
      <li class="dropdown dropdown-6">
        <div class="note-text" [ngClass]="{ 'open-comment-arrow': commentClicked === true }" (click)="openComments()">
          <div class="arrow"></div>
          Comments
        </div>
        <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6"
          [ngClass]="{ 'open-comment': commentClicked === true }">
          <div class="dropdown_item-1">
            <app-comment *ngIf="commentClicked === true" [lectureId]="lectureIdObser" [course]="current_course">
            </app-comment>
          </div>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-3 content">
    <app-content-course *ngIf="current_course != undefined" [current_course]="current_course">
    </app-content-course>
  </div>
  <div class="empty"></div>
</div>