<div class="comment-area">
    <div class="lds-ring" *ngIf="isLoadingComment">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <app-single-comment *ngFor="let commentParent of commentParents" [commentParent]="commentParent" [lectureId]="lectureId" [commentChilds]="commentChilds">
    </app-single-comment>
    <div class="lds-ring" *ngIf="isCommenting">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div *ngIf="isLoggedin" class="media comment-input">
        <div class="media-left">
            <img [src]="avatarUrl" class="media-object">
        </div>
        <div class="media-body">
            <form (submit)="postComment()">
                <input class="form-control comment-text" type="text" name="comment-in" placeholder="Write your comment ..." [(ngModel)]="commentInput">
                <button type="submit" [disabled]="commentInput==''" class=" btn-comment">Post</button>
            </form>
        </div>
    </div>
</div>