<div class="container" *ngIf="!isAdmin" style="text-align: center">
  <h2>You can not contact this page !</h2>
</div>
<div *ngIf="isAdmin" class="learner-screen">
  <div class="total-and-search">
    <div class="total-learner">
      <span>Total learner: {{ listSearch.length }}</span>
    </div>
    <!-- <div class="d-flex form-group">
      <span class="btn icon-search"
        ><i class="fa fa-search" (click)="searchUser()"></i
      ></span>
      <input
        class="form-control search-input"
        [(ngModel)]="titleSearch"
        (keyup.enter)="searchUser()"
        (keyup)="searchUser()"
        type="text "
        placeholder="Find learner by email or full name "
      />
    </div> -->
    <div class = "search">
      <app-search-title
      class ="search-title"
      [message]="content_for_search"
      (sendTitleSearch)="searchUser($event)"
    ></app-search-title>
    </div>
   

  </div>

  <div class="table-learner-managerment">
    <app-table-learner-managerment
      [listUsers]="listSearch"
    ></app-table-learner-managerment>
  </div>
</div>
<app-loading [isLoading]="isLoading"></app-loading>
