@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url("~font-awesome/css/font-awesome.css");

.container{
  
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    /* margin: 0; */
    margin-top: 10vh;
}

.search-input {
    /* margin-left: 5px; */
}

.form-group{
    align-items: center;
    width: 30vw;
    /* margin-left: 40vw; */
    /* margin-right: -10vw; */
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}




.form-group {
    display: block;
    margin-left: 55vw !important;

}

.form-group i {
    position: absolute;
    font-size: 1rem;
    margin-left: 3vw;
   font-weight: 100;
   margin-top: -1.5vh;
    color: rgb(194, 193, 193);
}

.search-input {
    /* margin-left: 25vw;
    margin-right: 5vw; */
    font-size: 15px;
    color: rgb(43, 41, 41);
}

.form-group .form-control {
    border-radius: 50px;
     margin-left: 1vw;
    padding-left: 3vw; 
}

.pull-right{
    margin: 0;
   
    margin-bottom: 1vh;
}

