<div class="container">
    <div class="d-flex form-group ">
        <span class = "btn icon-search" ><i class="fa fa-search " (click) = "searchUser()"></i></span>
        <input class="form-control search-input "  [(ngModel)] = "titleSearch"
        (keyup.enter) = "searchUser()"
        type="text "
        
        placeholder="Find learner by email or full name ">
    </div>

    <div class="table-learner-managerment">
        <!-- <label>{{userService.getAllUser()}}</label> -->
        <app-table-learner-managerment [listUsers] = "listUsers"></app-table-learner-managerment>
    </div>
</div>