<div class="card shadow mb-4 table-detail">
    <div class = "title-table">Deposit history</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Date Time</th>
                        <th>Amount</th>
                        <th>Image</th>
                      

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Date Time</th>
                        <th>Amount</th>
                        <th>Image</th>
                        

                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            <div><span>6/30/2021 3:54:00 PM</span></div>
                            <div><span>Status: </span>
                                <div class=" btn-status">Pending</div>
                            </div>
                        </td>
                        <td> <div class="amount">0000</div></td>
                        <td><button class="btn-admin "(click) = "showImg()"> View </button></td>
                       
                    </tr>
                  
                </tbody>
            </table>

            <!-- alert-view -->
            <app-alert-view-image [message] = "message_view_img" [path_img] = "path_img_view" *ngIf = "isShowImg()" (close) = "onHandleError()">

            </app-alert-view-image>
            <!-- end-alert-view -->

        </div>
    </div>
</div>