<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Form</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="modal-body">
  <div class="container-fluid">
    <!-- HTML form mark up -->
    <form [formGroup]="entryForm" ngNativeValidate>
      <div class="card">
        <div class="card-header">
          <div class="float-left">
            <h2 class="text-info create-course">New topic</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="id">Title&nbsp;<span>
                ({{ topic.title | countdown: 150 }}/150)
              </span>
            </label>
            <label class="d-block">
              <textarea rows="2" type="text" class="form-control" formControlName="title" autocomplete="title"
                [placeholder]="'Title'" [(ngModel)]="topic.title" required></textarea>
            </label>
            <label for="positionNumber">Type</label>
            <div class="d-block col-mb-2">
              <select class="form-select text-deco form-select-lg mb-3  col-mb-2 select-item"
                aria-label=".form-select-lg example" formControlName="category">
                <option class="text-deco" *ngFor="let type of types; let i = index" [value]="type" [ngValue]="type"
                  [selected]="i == 2">
                  {{ type }}
                </option>
              </select>
            </div>
            <!-- Category -->
          </div>
        </div>
        <div class="card-footer div-action-button">
          <div class="">
            <!-- HTML markup for Back button -->
            <button (click)="onCancel()" class="btn btn-danger w-20 btn-active" type="submit">
              <span translate> Cancel</span>
            </button>
          </div>
          <div class="">
            <!-- HTML markup for Create button -->
            <button (click)="onCreate()" class="btn btn-primary w-20 btn-active" type="submit">
              <span translate> Create</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>