<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="baseUrl+course.thumbnailUrl" onerror="this.src='../../../../../assets/images/defaul_course_img.jpg'" alt="{{course.title}}" >
    <div class="card-body">
        <div class="card-content">
            <a routerLink="/detail/{{course.id}}" fragment="detail">
                <h5 class="card-title">{{course.title | shorten}}</h5>
            </a>
            <p class="card-text">{{course.courseDescription |shorten}}</p>
        </div>

        <p class="course-price"> {{handlePriceFormat(course.price)}} </p>
    </div>
</div>