

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/images/img1.jpg" alt="Card image cap">
    <div class="card-body">
        <div class = "card-content">
            <a routerLink="/detail/{{course.id}}/{{course.title}}" > <h5 class="card-title">{{course.title | shorten}}</h5></a> 
            <p class="card-text">{{course.courseDescription}}</p>
        </div>
    
      <p class="course-price"> {{handlePriceFormat(course.price)}} </p>
    </div>
  </div>