@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
/* ----Course item------ */
.course-card-search{
    padding: 15px;
    display: flex;
    background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .20);
    margin-top: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}
.img-course{
    display: block;
    width: 30%px;
    height: 146px;
    /* max-width: 129.2rem; */
}

.course-heading{
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 400;
    width: 35vw;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.list-group-item-text{
    color: #aaa;
    margin-top: 5px;
}

.delail-information-course{
    color: #858585;
    font-size: 15px;
    vertical-align: bottom;
}

.content-course{
    width: 70%;
    display: block;
    margin-left: 20px;

}

.price{
    align-items: center;
    height: 100%;
    text-align: center;
    vertical-align:middle;
    
}

.price-course{
    padding-top: -80%;
    color: #072F5F;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}

a{
    text-decoration: none;
    transition: all 1s;
}

.course-heading :hover{
    color: #005B9A;
}
