<div class="course-card-search">
  <div class="img-course">
    <a
      routerLink="/detail/{{ courseItem.id }}"
      (click)="changeRouter()"
      fragment="detail"
    >
      <img
        class="img-course img-fluid"
        [src]="baseUrl + courseItem.thumbnailUrl"
        onerror="this.src='../../../../../assets/images/defaul_course_img.jpg'"
      />
    </a>
  </div>
  <div class="content-course">
    <a
      class="course-heading"
      routerLink="/detail/{{ courseItem.id }}"
      (click)="changeRouter()"
      fragment="detail"
      >{{ courseItem.title }}</a
    >
    <p class="list-group-item-text">
      {{ courseItem.courseDescription | shortenDescription }}
    </p>
    <div class="price div-bottom">
      <span class="number-learner"> {{ numberStudent }} Student joined</span>
      <span class="price-course">{{
        handlePriceFormat(courseItem.price)
      }}</span>
    </div>
  </div>
</div>
