<div class="transfer">
    <div class="transfer-info">
        <p class="instruction">1. Please transfer money to one of the following account.</p>
        <!-- <div class="bank-info">
            <p>Account number: 0500 7393 5137</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: Sacombank</p>
        </div>
        <div class="bank-info">
            <p>Account number: 9704 2292 7287 3444</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: MB Bank</p>
        </div> -->
        <div class="bank-info">
            <p>Account number: 10 1841 7537</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: Vietcombank</p>
        </div>
        <div class="bank-info">
            <p>Account number: 642 641 999</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: VPbank</p>
        </div>
        <div class="bank-info">
            <p>Phone number: 0962299449</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>ViettelPay</p>
        </div>
        <p class="instruction">2. After transfering, capture screen the bill. Go back to web and create a request and upload your bill.</p>
        <p class="instruction">3. Admin will validate and confirm or reject within 1 - 8 working hours. Please be patient.</p>
        <p class="instruction">4. If something went wrong. Please contact admin at admin@cungnhauhoctoan.net</p>
    </div>
    <div class="transfer-coins">
        <p>I have transfered
            <span>
                <input class="amount-coins" (keyup)="moneyTransfer.value =priceInputFormator(moneyTransfer.value)"  required type="text" maxlength="11" min="0" [(ngModel)]="money_Transfer" #moneyTransfer>
            </span>VND

        </p>
        <button class="btn-select-img" type="button" (click)="file.click()">Select image</button>

        <div class="p-2 load-img">
            <img name="thumbnailUrl" class="image-course" [src]="thumnailUrl" id="thumbnailUrl" alt="img-course">
            <input #file type="file" hidden accept="image/*" (change)="handleImageFileInput($event)">

        </div>

    </div>

    <div class="btn-action">
        <button class="btn-cancel" (click)="cancelUploadImage()">Cancel</button>
        <button class="btn-create-request" (click)="createDepositeRequest()">Create request now</button>
    </div>

</div>
<div class="loading" *ngIf="isLoading">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<app-alert [actionToAlert]="'Ok'" [message]="'Create deposit request successfully. Now waiting for confirmation.'" [action]="'success'" *ngIf="successResquest" (close)="closeSuccess()"></app-alert>

<app-alert [actionToAlert]="actionToAlert" [message]="message" [action]="action" (action_return)="implementAction($event)" *ngIf="showAnnouncement" (close)="closeHandler()"></app-alert>