<div class="transfer">
    <div class="transfer-info">
        <p class="instruction">1. Please transfer money to one of the following account.</p>
        <div class="bank-info">
            <p>Account number: 0500 7393 5137</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: Sacombank</p>
        </div>
        <div class="bank-info">
            <p>Account number: 9704 2292 7287 3444</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: MB Bank</p>
        </div>
        <div class="bank-info">
            <p>Account number: 10 1841 7537</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: Vietcombank</p>
        </div>
        <div class="bank-info">
            <p>Account number: 642 641 999</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>Bank: VPbank</p>
        </div>
        <div class="bank-info">
            <p>Phone number: 0962299449</p>
            <P>Account owner: TRINH MINH ANH</P>
            <p>ViettelPay</p>
        </div>
        <p class="instruction">2. After transfering, capture screen the bill. Go back to web and create a request and upload your bill.</p>
        <p class="instruction">3. Admin will validate and confirm or reject within 1 - 8 working hours. Please be patient.</p>
        <p class="instruction">4. If something went wrong. Please contact admin at admin@cungnhauhoctoan.net</p>
    </div>
    <div class="transfer-coins">
        <p>I have transfered <span><input class="amount-coins" type="text" value="10"></span> coins. </p>
        <input class="btn-select-img" type="button" value="Select image">
    </div>
    <div class="btn-action">
        <button class="btn-cancel">Cancel</button>
        <button class="btn-create-request">Create request now</button>
    </div>

</div>