@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url("~font-awesome/css/font-awesome.css");
.navbar {
    background: #FFFFFF;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 99999999;
    height: 55px;
    vertical-align: middle;
}

.logo-text {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 700;
    font-size: 18px;
    color: rgb(64, 129, 250);
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.action-button {
    text-align: center;
}

.navbar-toggler-icon i {
    font-size: 25px;
}

.navbar-collapse {
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 5px;
}

.category-course {
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
}

@media (max-width: 762px) {
    .btn-category {
        display: inline-grid;
    }
}

.btn-category {
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    transition: all 1s;
    background-color: #DC3545;
    margin-bottom: 3px;
}

.btn-category:hover {
    box-shadow: 1px 1px 1px #DC3545;
}

a {
    text-decoration: none;
}

.dropdown-menu {
    min-width: auto !important;
    margin-top: 8px;
    margin-right: 50px !important;
}

.dropdown .btn-dropdown {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 5px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    font-size: 15px;
    color: rgb(194, 193, 193);
}

.action-button {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.action-button a {
    height: 29px;
    background: #4EBEE1;
    border-radius: 10px;
    border: none;
    display: inline-flex;
    outline: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

.navbar-toggler-icon i {
    font-size: 25px;
}

.navbar-collapse {
    text-align: center;
}

.btn-signin {
    text-align: center;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn-mycourse,
.btn-mywallet {
    text-align: center;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media (max-width: 762px) {
    .action-button {
        display: inline-grid;
    }
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown {
    margin-left: 13vw;
}