<nav class="navbar  navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand logo-text">Cùng Nhau Học Toán</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
          </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <form class = "col-md-8 category-course " style="margin-left: 20px;">
                <a class = "btn-category" >Courses</a>
                <a class = "btn-category" [routerLink] = "['admin/managerment/learner']" routerLinkActive="active">Learner Managerment</a>
                <a class = "btn-category" [routerLink] = "['admin/managerment/wallet']" routerLinkActive="active">Wallet</a>
            </form>
            <!-- <div class="col-md-4 action-button ">
                <a href="#" class=" btn-signin">Sign In</a>
                <a href="#" class="btn-signup ">Sign Up</a>
            </div> -->
        </div>
    </div>


</nav>
