.display {
  width: auto;
  height: auto;
}
.contain-pdf {
  margin-top: 4rem;
}
.display-pdf {
  display: contents;
}
.viewer-contain-pdf {
  /* height: 100vh; */
  /* overflow: hidden; */
}
#PDF {
  height: 100vh;
  overflow-y: scroll;
}
.contain-pdf{
    /* overflow-y: scroll; */
}
.div-pdf{
    align-items: center;
    background: black;
    width: 100%;
    height: 100vh;
    margin-bottom: 25rem;
}
.icon-decorate{
  margin-right: 0.6rem;
  font-size: 18px;
}
.div-back {
  display: flex;
  justify-content: center;

}

.div-title{
  display: flex;
}
.icon-back{
  color: #1191d1;
  font-size: 20px;  
}
.icon-back:hover{
  cursor: pointer;
}
.header-title{
  font-size: 20px ;
}

.pdfViewer{
  background-color: black !important;
}

::ng-deep .ng2-pdf-viewer-container{
  background-color: #eee !important;
}